params {
   indir ='/project/dtran642_927/Data/Collaborator/DJ/scRNAseq/latest_big_sequencing_projects/MK/new_sequencing_data/Finale/NC_Monocytes_Analysis'
   geneset_folder = "/project/dtran642_927/SonLe/USC_Source/source/GSEA_4.1.0/genesets"
   genesets = ['c5=c5.all.v7.2.symbols.gmt', 'c7=c7.all.v7.2.symbols.gmt', 'msigdb=msigdb.v7.2.symbols.gmt']
}

process{
executor='slurm'
clusterOptions ="--mem-per-cpu=18GB --mail-type=ALL --mail-user=h160983@usc.edu"
}
